#text_category,#text_sub_category{
	padding-left: 70px;
}

#input_category,#input_sub_category{
	padding-left: 0px;
	display: inline;
}
.form-group{
	margin-top: 43px;
	height: 327px;
}
.form-control{
	width: 30%;
}
.selec_categ{
	padding-left: 70px;
	padding-right: 45px;
}
#selection{
	display: inline-block;
}
.option_category{
	margin-top: 43px;

}
.alerta{
    position: fixed;
    top: 60px;
    right: -120px;
    transition:all 0.3s ease;
    opacity:0;
}
.alerta.on{
    top: 53px;
    right: -1px;
    opacity: 1;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
}

.alerta.off{
    top: 53px;
    right: -1px;
    opacity: 0;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
    transition:all 1s ease;
}