
body{
	margin: 33px auto;
	width: 450px;
    padding-top: 86px;
	background-color: rgba(84, 208, 74, 0.53);

}

label {
	margin-left: 113px;
    margin-top: 13px;
    font-style: normal;
    font-size: 20px;
    font-family: monospace;
    color: #585858;
}
.jumbotron{
	position: relative;
	margin: 50px auto;
	width: 400px;
	border-radius: 1.3em;
	background: rgba(169, 178, 210, 0.5);
}
.btn{
	width: 99px;
    margin-top: 10px;
    margin-left: 269px;
}

.glyphicon{
	top: 7px;
    margin-left: 12px;
}

.form-control{
	width: 84%;
	margin-left: 33px;
}

.text-muted{
    text-align: center;
    font-size: 29px
}
.glyphicon-lock{
	position: absolute;
	display: inline-block;
	top: 7px;
    margin-left: 87%;
    margin-top: 40%;
}
.glyphicon-user{
	position: absolute;
	display: inline-block;
	top: 0px;
    margin-left: 87%;
    margin-top: 21%;
}
.logo-sokka{
	display: inline;
    font-size: 29px;
    font-family: fantasy;
}
.login-logo{
	position: relative;
    margin-left: 28%;
    width: 220px;
}

@media screen and (min-width: 768px){
	.glyphicon-user {
		margin-top: 26%;
	}

	.glyphicon-lock{
		margin-top:44.5%;
	}
}

#alert{
	position: absolute;
    margin-top: -33px;
    margin-left: 32px;
    visibility: hidden;
    width: 232px;
    font-size: 12px;
    padding: 7px;
}