/*#contenido{
	width: 84%;
    margin-left: 16%;
}*/
.panel.panel-primary{
	height: 750px;
}
#eliminar{
	background-color: #d9534f;
	border-color: #d9534f;
}
#editar{
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.alerta{
    position: fixed;
    top: 60px;
    right: -120px;
    transition:all 0.3s ease;
    opacity:0;
}
.alerta.on{
    top: 53px;
    right: -1px;
    opacity: 1;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
}

.alerta.off{
    top: 53px;
    right: -1px;
    opacity: 0;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
    transition:all 1s ease;
}

#txtbuscar{
	width: 17%;
    display: inline-flex;
    margin-left: 5px;
    padding-bottom: 1%;
}

.table{
	margin-top: 15px;
}