.form-horizontal{
	margin-top: 25px;
	height: 463px;
}
.col-md-4{
	width: auto;
}

.form-group{
	display: inline-block;

}
.comment{
    width: 36%;
    height: 28%;
}

textarea{
	width: 100%;
    height: 100%;
    padding-left: 9%;
    padding-top: 4%;
}
#input-representante,#input-suplidor,#input-email,#input-tel,#input-rnc{
	width: 58%
}

#content-suplidor,#content-representante,#content-email,#content-tel,#content-movil,#content-rnc{
	width: 50%;
}
#content-email{
	padding-left: 21px;
}
#content-tel{
	padding-left: 71px;
}
#input-direccion{
	width: 80%;
}
#input-pagweb{
	width: 78%;
}
#input-movil{
	width: 39%;
}

#content-direccion,#content-pagweb{
	width: 100%;
}

#content-rnc{
	padding-left: 63px;
}

#content-tiempo-retardo{
	width: 33.33%;
}

.btn{
	margin-right: 158px;
    float: right;
}

#alert{
	display: inline-block;
    visibility: hidden;
    width: 324px;
    font-size: 12px;
    padding: 7px;
    margin-left: 28%;
}

.alerta{
    position: fixed;
    top: 60px;
    right: -120px;
    transition:all 0.3s ease;
    opacity:0;
}
.alerta.on{
    top: 53px;
    right: -1px;
    opacity: 1;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
}

.alerta.off{
    top: 53px;
    right: -1px;
    opacity: 0;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
    transition:all 1s ease;
}