body{
	margin: 0px;
  	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(84, 208, 74, 0.53);

}

.jumbotron{
	/*position: relative;*/
	margin: 50px auto;
	width: 55%;
	border-radius: 1.3em;
	background: rgba(169, 178, 210, 0.5);
    padding-top: 33px;
}
#icono_user{
	font-size: -webkit-xxx-large;
    padding-left: 44%
}
#btdrop{
	width:52%;
	margin: 0px 10px;
	display: inline-block;
}
.tipo_user{
	margin-left: 36px;
    font-family: initial;
}
#selec_sucursal{
	width: 132px;
    display: inline-block;
}
#btr{
	width: 84%;
	margin:0px 39px;
}

.form-control{
	width: 84%;
	margin-left: 33px;
}
.form-control-2{
	height: 32px;
    width: 130px;
    border-radius: 4px;
    border-color: #e1e7e7;
}
.selec_sucr{
	font-family: initial;
    margin-left: 22px;
    font-size: large;
}

.text-muted{
    text-align: center;
    font-size: 29px
}

.logo-sokka{
	display: inline;
    font-size: 29px;
    font-family: fantasy;
}
.login-logo{
	/*position: relative;*/
    margin-left: 28%;
    width: 220px;
    height: auto;
}

.inputdata{
	margin: 10px;

}

#alert{
	position: absolute;
    margin-top: 6px;
    margin-left: 85px;
    visibility: hidden;
    width: 324px;
    font-size: 12px;
    padding: 7px;
}

.user_login{
	position: relative;
    background-color: #23282e;
    display: block;
    margin-left: 300px;
    height: 50px;
}

.acount{
	margin-left: 75%;
	display: inline;
	color: white;

}
.leer{
    margin-left: 21%;
}
div > #check_leer{
    margin-left: 3%;
    position: relative;
}

div > #check_edit{
    margin-left: 7%;
}
div > #check_elim{
    margin-left: 16.5%;
}
.edit, .elim{
    margin-left: 2%;

}

.access-plus{
    margin-left: 42px;
}
.funkyradio{
    padding-left: 10%;
}

#aling-left,#aling-center,#aling-right{
    display: inline-block;
    width: 100%;
}

.alerta{
    position: fixed;
    top: 60px;
    right: -120px;
    transition:all 0.3s ease;
    opacity:0;
}
.alerta.on{
    top: 53px;
    right: -1px;
    opacity: 1;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
}

.alerta.off{
    top: 53px;
    right: -1px;
    opacity: 0;
    border-radius: 0.5em;
    padding-left: 31px;
    height: 40px;
    padding-top: 10px;
    transition:all 1s ease;
}
label{
    width: 54%;
}
.lect{
    display: inline-block;
    width: 27%;
}